{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <ul>
                    <li><a href="/books">Все({{ cnt }})</a></li>
                {% for q in query %}
                    <li><a href="/books?gid={{ q.id }}">{{ q.name }} ({{ q.cnt }})</a></li>
                {% endfor %}
                </ul>
                <br>
                <button id="btnGanresFrm" name="btnGanresFrm" 
                    class="btn btn-primary"
                    onclick="window.location.href='/genres'">
                        Правка жанров
                </button>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <button id="btnAddBookFrm" name="btnAddBookFrm" 
                                class="btn btn-primary"
                                onclick="window.location.href='/books/add-book'">
                            Добавить
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Автор</th>
                                    <th scope="col">Название</th>
                                    <th scope="col">Год выпуска</th>
                                    <th scope="col">Жанр</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in books %}
                                    <tr>
                                        <td>{{ book.author }}</td>
                                        <td>{{ book.name }}</td>
                                        <td>{{ book.getDate()|date('d.m.Y') }}</td>
                                        <td>
                                            {% if book.getFGenres() %}
                                                {{ book.getFGenres().name }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <button id="btnEditBook" name="btnEditBook"
                                                class="btn btn-secondary" 
                                                onclick="window.location.href='/books/edit-book?id={{ book.id }}'">
                                                Изменить
                                            </button>
                                            <button id="btnDelBook" name="btnDelBook"
                                                    class="btn btn-secondary"
                                                    onclick="window.location.href='/books/del-book?id={{ book.id }}'">
                                                Удалить
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
{% endblock %}
