{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3>{{ title }}</h3>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
		{{ form_label(form.name) }}<br>
		{{ form_errors(form.name) }}<br>
		{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}<br>
            </div>
            <div class="col-md-4"></div>
	</div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <input type="button" id="btnAddGenre" value="Сохранить" 
                       class="btn btn-primary">
            </div>
            <div class="col-md-4"></div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
